.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }
}

.admin-sidebar {
    .pro-sidebar.md.collapsed{
        span{
            display: none;
        }

        .popper-inner {
            display: none;
        }
    }
}
.admin-content {
    width: 100%;
    padding: 5px;
}


